<section>
  <div class="bl-box">
    <h2 >Hi My Name is Jon</h2> <!-- class="bl-icon bl-icon-about" -->
  </div><!-- /bl-box -->
  <div class="bl-content">
    <div class="row-fluid">
      <div class="span12">
        <h2>A Little About Me</h2>
        <p>I am a Ruby on Rails developer living in Seattle. I started freelancing in 2009 and have worked for a wide range of personal clients and agencies.</p>
        <p>I offer a complete web solution to my clients. I can guide you through the early stages of project planning and research, help you with information architecture and user experience, design your website, and finally build the site for you.</p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <div class="row-fluid">
          <div class="span8">
            <h2>My Skills</h2>
            <!-- Progress Bar -->
            <div class="progress">
              <div class="bar" style="width: 73%;">HTML/CSS 73%</div>
            </div>
            <div class="progress">
              <div class="bar" style="width: 100%;">Web Design 100%</div>
            </div>
            <div class="progress">
              <div class="bar" style="width: 78%;">Photography 78%</div>
            </div>
            <div class="progress">
              <div class="bar" style="width: 80%;">Sound Design 80%</div>
            </div>
            <div class="progress">
              <div class="bar" style="width: 63%;">Party 63%</div>
            </div>
            <!-- Progress Bar End -->
          </div><!-- /span6 -->
          <div class="span4"></div>
          <div class="span12">
            <br>
            <br>
          </div>
          <div class="span12">
            <div class="row about-us">
              <div class="span3">
                <h3><i class="icon-user icon-white"></i> More About Me?</h3>
                Claritas est etiam processus dynamicus, and mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc. Parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.
              </div>
              <div class="span3">
                <h3><i class="icon-heart icon-white"></i> What I Love</h3>
                Claritas est etiam processus dynamicus, and mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc. Parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.
              </div>
              <div class="span3">
                <h3><i class="icon-fire icon-white"></i> Work Hard</h3>
                Claritas est etiam processus dynamicus, and mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc. Parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.
              </div>
              <div class="span3">
                <h3><i class="icon-plane icon-white"></i> Ready To Go</h3>
                Claritas est etiam processus dynamicus, and mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc. Parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.
              </div>
            </div><!-- /row-about-us -->
          </div><!-- /span12 -->
        </div><!-- /row -->
      </div><!-- /span12 -->
    </div><!-- /row-fluid -->

  </div><!-- /bl-content -->
  <span class="bl-icon bl-icon-close"></span>
</section>
