<section>
  <div class="bl-box">
    <h2 >Hi My Name Is Jon</h2> <!-- class="bl-icon bl-icon-about" -->
  </div><!-- /bl-box -->
  <div class="bl-content">
    <div class="row-fluid">
      <div class="span12">
        <h2>A Little About Me</h2>
        <p>I'm a web developer living in Seattle</p>
        <p>I am a graduate of CodeFellows, an 8-week intensive bootcamp designed to take
        talented, motivated individuals and turn them into Rails developers. I'm currently working with PetChance.org to migrate their site from Rails 2 to Rails 3, as well as add new features. I like to solve challenging problems and work on interesting things.</p>
        <p></p>
        <p></p>
        <p></p>
        <div class="row-fluid">
          <div class="span8">
            <h2>My Skills</h2>
            <!-- Progress Bar -->
            <div class="progress">
              <div class="bar" style="width: 80%;">Javascript 80%</div>
            </div>
            <div class="progress">
              <div class="bar" style="width: 90%;">Ruby on Rails 90%</div>
            </div>
            <div class="progress">
              <div class="bar" style="width: 94%;">Behavior Driven Development 94%</div>
            </div>
            <div class="progress">
              <div class="bar" style="width: 87%;">Git/GitHub 87%</div>
            </div>
            <div class="progress">
              <div class="bar" style="width: 76%;">Agile Web Development 76%</div>
            </div>
            <!-- Progress Bar End -->
          </div><!-- /span6 -->
          <div class="span4"></div>
          <div class="span12">
            <br>
            <br>
          </div>
          <div class="span12">
            <div class="row about-us">
              <div class="span3">
                <!-- <h3><i class="icon-user icon-white"></i> More About Me?</h3>
                I enjoy visting and experiencing new places and cultures. I watch a lot of Netflix and I love to play basketball. -->
              </div>
              <div class="span3">
                <!-- <h3><i class="icon-heart icon-white"></i> What I Love</h3>
                Claritas est etiam processus dynamicus, and mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc. Parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima. -->
              </div>
              <div class="span3">
               <!--  <h3><i class="icon-fire icon-white"></i> Work Hard</h3>
                Claritas est etiam processus dynamicus, and mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc. Parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima. -->
              </div>
              <div class="span3">
                <!-- <h3><i class="icon-plane icon-white"></i> Ready To Go</h3>
                Claritas est etiam processus dynamicus, and mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc. Parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima. -->
              </div>
            </div><!-- /row-about-us -->
          </div><!-- /span12 -->
        </div><!-- /row -->
      </div><!-- /span12 -->
    </div><!-- /row-fluid -->

  </div><!-- /bl-content -->
  <span class="bl-icon bl-icon-close"></span>
</section>
