<section>
  <div class="bl-box">
    <h2>My deepest thoughts</h2>
  </div>
  <div class="bl-content">
    <div class="row-fluid">
      <div class="span12">
        <h2>Latest Blog Entry</h2>
        <article>
          <h3>Expanding Your Horizons</h3>
          <%= image_tag("blogentry.jpg") %>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<a href="#">Read more</a></p>
        </article>
        <hr>
        <h2>Other Entries</h2>
        <article>
          <h3>Blog Post 1</h3>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text.... <a href="#">Read more</a></p>
        </article>
        <article>
          <h3>Blog Post 2</h3>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text.... <a href="#">Read more</a></p>
        </article>
        <article>
          <h3>Blog Post 3</h3>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text.... <a href="#">Read more</a></p>
        </article>

      </div><!-- /span12 -->
    </div><!-- /row-fluid -->
  </div><!-- /bl-content -->
  <span class="bl-icon bl-icon-close"></span>
</section>
