<section>
  <div class="bl-box", id="about">
    <h2 >Contact Me</h2>
  </div>
  <div class="bl-content">
    <div class="row-fluid">
      <div class="span12">
        <h2>Get in touch</h2>

        <p>
          <p>jonfriese33@email.com | Seattle, WA</p>
        </p>

        <p>
          <a href="https://www.linkedin.com/pub/jon-friese/83/b6/4b8/" class="social-network linkedin"></a>
          <a href="https://github.com/jonfriese" class="social-network github"></a>
          <a href="https://twitter.com/JonFriese33" class="social-network twitter"></a>
          <a href="https://www.facebook.com/jon.friese.5" class="social-network facebook"></a>
        </p>

      </div>
    </div>
    <span class="bl-icon bl-icon-close"></span>
  </section>
