<section id="bl-work-section">
  <div class="bl-box">
    <h2 >Latest Works</h2> <!-- class="bl-icon bl-icon-works"-->
  </div>
  <div class="bl-content">
    <h2>Some Recent Projects</h2>
    <p>Most of my work is done in Rails. Here are some of the the projects I have been working on. They are all open-source so feel free to contribute. Send me a push request!</p>
    <p></p>
    <p></p>
    <p></p>
    <div class="row-fluid">
      <div class="span4">
        <ul id="bl-work-items" style="list-style: none;">
          <li data-panel="panel-1"><a href="#"><%= image_tag("project1.jpg") %></a></li>
        </ul>
        <p>Project Number 1</p>
      </div><!-- /span4 -->
      <div class="span4">
        <ul id="bl-work-items">
          <li data-panel="panel-2"><a href="#"><%= image_tag("project2.jpg") %></a></li>
        </ul>
        <p>Project Number 2</p>
      </div><!-- /span4 -->
      <div class="span4">
        <ul id="bl-work-items">
          <li data-panel="panel-3"><a href="#"><%= image_tag("project3.jpg") %></a></li>
        </ul>
        <p>Project Number 3</p>
      </div><!-- /span4 -->

    </div><!-- /row-fluid -->
  </div><!-- /bl-content -->
  <span class="bl-icon bl-icon-close"></span>
</section>

