<div class="bl-panel-items" id="bl-panel-work-items">
  <div data-panel="panel-1">
    <div class="row-fluid">
      <div class="span8 offset2 tweak">
        <%= image_tag("project1.jpg") %>
        <br>
        <br>
        <h4>Project Overview</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <h4>Project Details</h4>
        <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div><!-- /span8 -->
    </div><!-- /row-fluid -->
  </div><!-- /panel1 -->

  <div data-panel="panel-2">
    <div class="row-fluid">
      <div class="span8 offset2 tweak">
        <br>
        <br>
        <h4>Project Overview</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <h4>Project Details</h4>
        <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div><!-- /span8 -->
    </div><!-- /row-fluid -->
  </div><!-- /panel2 -->

  <div data-panel="panel-3">
    <div class="row-fluid">
      <div class="span8 offset2 tweak">
        <%= image_tag("project3.jpg") %>
        <br>
        <br>
        <h4>Project Overview</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <h4>Project Details</h4>
        <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div><!-- /span8 -->
    </div><!-- /row-fluid -->
  </div><!-- /panel3 -->

  <nav>
    <span class="bl-next-work">&gt; Next Project</span>
    <span class="bl-icon bl-icon-close"></span>
  </nav>
</div><!-- /panel-items -->


