<div class="bl-panel-items" id="bl-panel-work-items">
  <div data-panel="panel-1">
    <div class="row-fluid">
      <div class="span8 offset2 tweak">
        <%= image_tag("project2.png") %>
        <br>
        <br>
        <h4>Project Overview</h4>
        <p>This is a project I began to help aide me in my job search.</p>
        <h4>Project Details</h4>
        <p>It allows me or whoever uses it to search multiple niche job boards at once. It does this by combining search results from several different APIs and RSS feeds </p>
      </div><!-- /span8 -->
    </div><!-- /row-fluid -->
  </div><!-- /panel1 -->
  <div data-panel="panel-2">
    <div class="row-fluid">
      <div class="span8 offset2 tweak">
        <%= image_tag("project1.jpg") %>
        <br>
        <br>
        <h4>Project Overview</h4>
        <p>LinkSensei is a project I began with two other classmates in the 4th week of Codefellows.</p>
        <h4>Project Details</h4>
        <p>LinkSensei currently gives you a way to easily group bookmarks. A user can create containers for links, add descriptions, add links to a staging area, and move links to appropriate containers. Looking forward, we plan to implement a sharing feature as well as create a Google Chrome extension. </p>
      </div><!-- /span8 -->
    </div><!-- /row-fluid -->
  </div><!-- /panel1 -->
  <nav>
    <span class="bl-next-work">&gt; Next Project</span>
    <span class="bl-icon bl-icon-close"></span>
  </nav>
</div><!-- /panel-items -->


